---
title: Configuration
icon: fa6-solid:code
---

## Elevators Configuration

```lua title="config/config.lua"
    ["example-name"] = {
        label = "Example Label",
        floors = {
            [1] = {
                title = "Example Floor Title 1",
                description = "Example description of floor 1",
                debug = false,
                zones = {
                    [1] = {coords = vec4(136.0807, -761.7469, 46.00, 160.00), size = vec3(2.0, 2.0, 2.5)}
                },
                locked = true,
                item = { "water", "money" },
                jobs = { "police", "ambulance" },
            },
            [2] = {
                title = "Example Floor Title 2",
                description = "Example description of floor 2",
                debug = false,
                zones = {
                    [1] = {coords = vec4(136.0939, -761.8068, 234.50, 160.00), size = vec3(2.0, 2.0, 2.5)}
                },
                locked = true,
                item = "water",
                jobs = "police",
            },
            [3] = {
                title = "Example Floor Title 3",
                description = "Example description of floor 3",
                debug = false,
                zones = {
                    [1] = {coords = vec4(136.0755, -761.7881, 242.50, 160.00), size = vec3(2.0, 2.0, 2.5)}
                },
                locked = false,
                item = false,
                jobs = false,
            }
        },
    },
```

- ElevatorID: `string`
  - Code of the elevator (The code is UNIQUE, avoid using duplicated names)
- ElevatorOptions: `table`
  - Options of the elevator
    - label: `string`
      - Name of the elevator (Displayed on menu title)
    - floors: `table`
      - Floors of the elevator
        - FloorID: `number`
          - Index of the floor (The code is UNIQUE, avoid using duplicated index and use 1 and 1+ values)
        - FloorOptions: `table`
          - Options of the floor
            - title: `string`
              - Name of the floor (Displayed on menu)
            - description?: `string`
              - Description of floor (Displayed on menu)
            - debug: `boolean`
              - To enable debug of the floor zones
            - zones: `table`
              - Zones of the floor
                - zoneId: `number`
                  - ID of the Zone (Displayed on menu)
                - zoneData: `table`
                  - Data of the zone
                    - coords: `vector3[]`
                      - The coordinates of the center of the box zone
                    - size: `vector3[]`
                      - The extension of various axis of the box zone
            - locked?: `boolean`
              - If floor is locked by job or item, if false item and jobs are ignored
            - item?: `string` or `table`
              - Name of the item in inventory to have for access
            - jobs?: `string` or `table`
              - Name of the jobs that can access the floor