---
title: Monarch Cayo
description: A simple Cayo Island loader
icon: fa6-solid:map
---

<script>
    import { ResourceCard, Callout } from '$lib/svx-components';
</script>

<ResourceCard resource="mnr_cayo" />

Monarch Cayo is an optimized and simple script to load the island of Cayo Perico

## Innovations
- One time only loading of the island on login
- Only the parts you need to make work the island
- No random maps loaded, everything that is loaded is always and only located in Cayo Perico without bloatware or bugs
- All exterior gates of the mansion unlocked

## Performance

| **SITUATION**  | **CPU msec** | **Time** | **CPU (inclusive)** | **Memory**  | **Streaming** |
| -------------- | ------------ | -------- | ------------------- | ----------- | ------------- |
| Average        | 0.00 ms      | 0.00%    | 0.00 ms             | ~ 250 KiB+  | -             |
| Max            | 0.00 ms      | 0.00%    | 0.00 ms             | ~ 250 KiB+  | -             |

<Callout type="note" title="Note">

These values ​​are purely indicative, performance tested with:

- **CPU:** AMD Ryzen 5 5600X
- **MOBO:** Asus Rog Strix B550 E-Gaming
- **RAM:** Crucial Ballistix 2x8GB CL16 3600MHz
- **SSD:** Samsung 970 EVO+ 1TB
- **VGA:** Sapphire AMD RX6600XT Nitro+

</Callout>