---
title: Monarch Presets
description: Presets for Monarch Devs scripts
icon: fa6-solid:file-code
---

## Info
In order to speed up the process of creating our users' servers, we create configuration presets that support the creator maps that we consider suitable based on their way of dealing with users and we avoid creators who only think about money or make casual partnerships just to sell more (Therefore we only include creators who make their products with passion and are respectful of their users)

**We reserve the right to modify these presets if creators no longer respect our ideals (for example with wild marketing practices or incompleteness of the presets available for the creator's products) by removing them from the presets.**

## Supported Creators
- [TStudio](https://shop.tstudio3d.com/)
- [Prompt Mods](https://store.prompt-mods.com/)
- [K4mbi Maps](https://k4mb1maps.com/)

If you don't see the creators of maps you use it's because the presets are based on maps from creators who have made themselves available for the creation of presets and on which I can therefore make presets.
- **If you're a creator** and you want presets for your maps contact us on Discord.
- **If you're a server owner** and you want presets for maps of a creator ask the creator to contact us on Discord for organize all